<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo2</display-name>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo3</display-name>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/RequestDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo4</display-name>
    <servlet-name>RequestDemo4</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo4</servlet-name>
    <url-pattern>/RequestDemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo5</display-name>
    <servlet-name>RequestDemo5</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo5</servlet-name>
    <url-pattern>/RequestDemo5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo6</display-name>
    <servlet-name>RequestDemo6</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo6</servlet-name>
    <url-pattern>/RequestDemo6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo7</display-name>
    <servlet-name>RequestDemo7</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo7</servlet-name>
    <url-pattern>/RequestDemo7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo8</display-name>
    <servlet-name>RequestDemo8</servlet-name>
    <servlet-class>com.tedu.request.RequestDemo8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo8</servlet-name>
    <url-pattern>/RequestDemo8</url-pattern>
  </servlet-mapping>
</web-app>